body {
  background-color: #DBDAD5;
}

/*? Top banner  */
header {
  height: 150px;
  background-color: #019689;
  border-bottom: 2px solid #00b5a5;
}

/** Logo  */

#logo-container {
  width: 200px;
  text-align: center;
}

#logo {
  width: 110px;
  height: 110px;
}

#logo-text {

  font-size: 25px;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

/* !Main section  */

.left_column {
  background-color: #3cee45;
  border-radius: 2px;
}

.right_column {
  background-color: #f4ee45;
  border-radius: 2px;
}